$half-padding: 0.6rem;
$default-padding: calc(#{$half-padding} * 2);
$default-radius: 0.4em;
$sp-size: 600px;
$tablet-size: 1000px;
$invert-color: #fff;
$background-color0: #bbc6ce;
$background-color1: #abb8c2;
$background-color2: #333;
